body .sideBarCloseButton {
    position: absolute;
    top: 46.3%;
    right: -21px;
    width: 22px;
    background-color: transparent;
}

@media (max-width: 767px) {
    body button.sideBarCloseButton {
        top: 20px;
        right: -33px;
        width: 34px;
    }
}

@media (max-width: 992px) {
    body .sideBarCloseButton {
        top: 46.8%;
    }
}

body .sideBarCloseButton:active,
body .sideBarCloseButton:hover,
body .sideBarCloseButton:focus {
    background-color: transparent;
}

body .sideBarCloseButton *:active,
body .sideBarCloseButton *:hover,
body .sideBarCloseButton *:focus {
    background-color: transparent;
}
