.sideBar,
.sideBar div {
    background-color: var(--gray-1);
}

body .layout {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    background: url('src/assets/main-page/Main page_light.png') 50% 50% / cover no-repeat;
}

body .innerLayout {
    background: transparent;
}
